html {
    background-color: #dcf6fc;
    font-family: 'Poppins', sans-serif;
    font: white;
}

/* navbar */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
  }
  
 header li {
    float: left;
  }
  
 header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change the link color to #111 (black) on hover */
 header li a:hover {
    background-color: #111;
  }




  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  /* navbar */

body {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.5rem;
    text-align: justify;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
}

#small-title {
    font-size: 1.5rem;
    padding: 1.5rem;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.5rem;
}

em {
    font-weight: 600;
}

strong {
    font-weight: 600;
}

.subjects {
    display: flex;
    max-width: 50%;
    justify-content: center;
    margin: 1.5rem auto;
    font-weight: 600;
}

.subjects__left {
    width: 50%;

}

.subjects__right {
    width: 50%;

}

.subjects__pictures {
    height: 5rem;
}

figcaption {
    margin: 1rem;
}

.skills {
    display: flex;
    max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.skills__hard {
    width: 50%;
    padding: 1.5rem 1.5rem 1.5rem 0;
}

.skills__soft {
    width: 50%;
    padding: 1.5rem 1.5rem 1.5rem 0;

}

.skills__hard > p, .skills__soft > p {
margin: 0.5rem 0 0.5rem 0;
}

.school {
    font-style: italic;
}

.xp {
    margin: 1.5rem 0;
}

legend {
    margin: 1.5rem 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project img{
    height: 300px;
    margin: 1rem;
}

.project {
    position: relative;
    width: 300px;
    margin: 1rem;
  }
  
  .image {
    opacity: 1;
    display: block;
    justify-content: space-evenly;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit : cover;
  }
  
  .description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .project:hover .image {
    opacity: 0.3;
  }
  
  .project:hover .description {
    opacity: 1;
  }
  
  .description {
      z-index: 3;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/*début contact*/
#contact {
  display: flex;
  padding: 2em;
  margin: 2em;
  border: 1px solid #0389ff;
}

#form {
  width: 100%;
}

#form fieldset {
  border-left: 1px solid #0389ff;
  padding: .5em 1em 0;
  margin-bottom: 2em;
}
#form legend {
  margin-left: -.3em;
  font-size: 1.1em;
}

.form-row {
  display: flex;
  margin-bottom: .4em;
}

.form-row .label {
  flex-basis: 30%;
  margin: 0;
  padding-right: 3%;
}

/* tous les enfants direct d'un élément ayant la class form-row */
/* sauf les .label, vu qu'ils ont des règles plus spécifiques définies juste au dessus 😉 */
.form-row > * {
  flex-basis: 70%;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group > * {
  margin: 0 .5em 0 0;
}

/* moche mais bon, sinon la cochette prend toute la largeur (enfin, 70%), pas sûr que ça rende bien sur tous les navigateurs 🤔 */
#info {
  flex-basis: 1em;
}

#contact input[type=text],
#contact input[type=email],
#contact textarea,
#contact select
{
   background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #0389ff;
}
#contact input[type=email] {
  width: 100%;
}
#contact textarea {
  padding: .2em;
  width: 100%;
}
#contact button {
  background-color: #0389ff;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  padding: 5px 10px;
}

/*fin contact*/

.network {
    height: 30px;
    margin: 1rem;
}


@media (max-width: 900px) {
  .subjects {
    max-width: 100%;
    justify-content: center;
    margin: 1.5rem auto;
    font-weight: 600;
}

.subjects__left {
  width: 50%;

}

.subjects__right {
  width: 50%;

}

body {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5rem;
  text-align: justify;
}

}